
/* 

Código elaborado por: Nelson Braga
Cargo: Desenvolvedor Fullstack
Data: 22/03/2024 

*/

#tituloLocal, #descConsumidor {
    width: 100%;
    font-weight: 700;
    text-align: center;    
    color: rgb(240, 233, 233);
    padding: 10px;
    border-radius: 30px;
    border-color: #4473c44d;
    background-color: #4473c44d;
    margin-bottom: 8px;
}

.lblAdicionarLocal {
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    padding: 10px 20px 10px 10px;
}

.adicionalLocal {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;    
    background-color: rgb(35, 212, 35);
    border: outset 1px white;
    width: 60px;
    border-radius: 10px;
}

.adicionalLocal:hover {
    background-color: rgb(12, 163, 12);
    border: solid 2px white;
    box-shadow: 2px 2px 8px rgb(207, 206, 206);    
}

.logotipo {
    width: 160px;
    height: 80px;
}

p {
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif
}